<a href="https://colab.research.google.com/github/balashiva0011/introduction-to-R-Programming-language-using-R-studio/blob/main/Vectors_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Vectors and lists in R

##For example, you can use the c() function to store numeric data in a vector.

In [ ]:
c(1L, 5L, 15L)

[1]  1  5 15

In [ ]:
c(2.5, 48.5, 101.5)

[1]   2.5  48.5 101.5

In [ ]:
c("Sara" , "Lisa" , "Anna")

[1] "Sara" "Lisa" "Anna"

In [ ]:
 c(TRUE, FALSE, TRUE)

[1]  TRUE FALSE  TRUE

In [ ]:
typeof(c("a" , "b"))

[1] "character"

In [ ]:
typeof(c(1L , 3L))

[1] "integer"

In [ ]:
x <- c(33.5, 57.75, 120.05)

In [ ]:
length(x)

[1] 3

In [ ]:
x	<- c(2L, 5L, 11L)
is.integer(x)

[1] TRUE

In [ ]:
y	<- c(TRUE, TRUE, FALSE)

In [ ]:
 is.character(y)

[1] FALSE

## Lists are different from atomic vectors because their elements can be of any type—like dates, data frames, vectors, matrices, and more. Lists can even contain other lists.
## You can create a list with the list() function. Similar to the c() function, the list() function is just list followed by the values you want in your list inside parentheses: list(x, y, z, …). In this example, we create a list that contains four different kinds of elements: character (“a”), integer (1L), double (1.5), and logical (TRUE).

In [ ]:
list("a", 1L, 1.5, TRUE)

[[1]]
[1] "a"

[[2]]
[1] 1

[[3]]
[1] 1.5

[[4]]
[1] TRUE

In [ ]:
list(list(list(1 , 3, 5)))

[[1]]
[[1]][[1]]
[[1]][[1]][[1]]
[1] 1

[[1]][[1]][[2]]
[1] 3

[[1]][[1]][[3]]
[1] 5

In [ ]:
str(list("a", 1L, 1.5, TRUE))

List of 4
 $ : chr "a"
 $ : int 1
 $ : num 1.5
 $ : logi TRUE

In [ ]:
list("Chicago"= 1, "New York" = 2, "Los Angeles" = 3)

$Chicago
[1] 1

$`New York`
[1] 2

$`Los Angeles`
[1] 3